[Desktop Entry]
Name=Table Pro Linux
Exec=table-pro-linux
Icon=org.tableprolinux.App
Type=Application
Categories=Development;Database;
StartupWMClass=org.tableprolinux.App
MimeType=text/plain;text/csv;application/sql;
Terminal=false
