[Desktop Entry]
Name=DB Client
Exec=dbclient
Icon=org.dbclient.App
Type=Application
Categories=Development;Database;
StartupWMClass=org.dbclient.App
MimeType=text/plain;text/csv;application/sql;
Terminal=false
